// Place all the styles related to the modo_aim controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user-levels {
	width: 900px;
}

.camadas {
    margin-left: 350px;
    margin-top: -27px;
}

#under {
	float: left;
	width: 260px;
	height: 330px;
	padding: 5px 10px;
	margin-right: 10px;
	background: #fff;
	text-align: center;
    box-shadow: 0px 0px 0px 5px rgba( 255,255,255,0.4 ), 
    0px 0px 12px rgba( 0,0,0,0 );
    border-radius: 5px;
    border: 1px solid #cacaca;
	list-style-type:none;
	overflow-y:auto;
	margin:0 0.5em 0.5em 0;
	border-color: #879096;

}

#droppable{
	float: left;
	width: 220px;
	height: 330px;
	padding: 5px 10px;
	margin-right: 10px;
	background: #fff;
	text-align: center;
    box-shadow: 0px 0px 0px 5px rgba( 255,255,255,0.4 ), 
    0px 0px 12px rgba( 0,0,0,0 );
    border-radius: 5px;
    border: 1px solid #cacaca;
    border-color: #879096;
}

#resultado {
  float: left;
  width: 536px;
  height: 200px;
  padding: 5px 10px;
  margin-top: 10px;
  margin-right: 10px;
  text-align: center;
    background: #fff;
    box-shadow: 0px 0px 0px 5px rgba( 255,255,255,0.4 ), 
    0px 0px 12px rgba( 0,0,0,0.33 );
    border-radius: 5px;
    border: 1px solid #cacaca;
}

.draggableBK7{
  width: 100px;
  padding: 3px 5px;
  display: block;
  margin: 0 auto 3px;
  border: 1px solid #aaa;
  cursor: move;
  border-radius: 5px;
  background: #498c55;
}

.draggableQuartz{
  width: 100px;
  padding: 3px 5px;
  display: block;
  margin: 0 auto 3px;
  border: 1px solid #aaa;
  cursor: move;
  border-radius: 5px;
  background: #c7a0bc;
}

.draggableSapphire{
  width: 100px;
  padding: 3px 5px;
  display: block;
  margin: 0 auto 3px;
  border: 1px solid #aaa;
  cursor: move;
  border-radius: 5px;
  background: #1618dc;
}

.draggableAu{
  width: 100px;
  padding: 3px 5px;
  display: block;
  margin: 0 auto 3px;
  border: 1px solid #aaa;
  cursor: move;
  border-radius: 5px;
  background: #FFDB00;
}

.draggableAg{
  width: 100px;
  padding: 3px 5px;
  display: block;
  margin: 0 auto 3px;
  border: 1px solid #aaa;
  cursor: move;
  border-radius: 5px;
  background: #676558;
}

.draggableCu{
  width: 100px;
  padding: 3px 5px;
  display: block;
  margin: 0 auto 3px;
  border: 1px solid #aaa;
  cursor: move;
  border-radius: 5px;
  background: #E86101;
}

.draggableAl{
  width: 100px;
  padding: 3px 5px;
  display: block;
  margin: 0 auto 3px;
  border: 1px solid #aaa;
  cursor: move;
  border-radius: 5px;
  background: #b1b1b1;
}

.draggableLi{
  width: 100px;
  padding: 3px 5px;
  display: block;
  margin: 0 auto 3px;
  border: 1px solid #aaa;
  cursor: move;
  border-radius: 5px;
  background: #e6e6e6;
}

.draggableFe{
  width: 100px;
  padding: 3px 5px;
  display: block;
  margin: 0 auto 3px;
  border: 1px solid #aaa;
  cursor: move;
  border-radius: 5px;
  background: #6f5656;
}

.draggableIn{
  width: 100px;
  padding: 3px 5px;
  display: block;
  margin: 0 auto 3px;
  border: 1px solid #aaa;
  cursor: move;
  border-radius: 5px;
  background: #828282;
}

.draggablePt{
  width: 100px;
  padding: 3px 5px;
  display: block;
  margin: 0 auto 3px;
  border: 1px solid #aaa;
  cursor: move;
  border-radius: 5px;
  background: #a2a0a0;
}

.draggableOs{
  width: 100px;
  padding: 3px 5px;
  display: block;
  margin: 0 auto 3px;
  border: 1px solid #aaa;
  cursor: move;
  border-radius: 5px;
  background: #8e91bd;
}

.draggablePd{
  width: 100px;
  padding: 3px 5px;
  display: block;
  margin: 0 auto 3px;
  border: 1px solid #aaa;
  cursor: move;
  border-radius: 5px;
  background: #bbc17d;
}

.draggableTopas{
  width: 100px;
  padding: 3px 5px;
  display: block;
  margin: 0 auto 3px;
  border: 1px solid #aaa;
  cursor: move;
  border-radius: 5px;
  background: #77FF2A;
}

.draggablePC{
  width: 100px;
  padding: 3px 5px;
  display: block;
  margin: 0 auto 3px;
  border: 1px solid #aaa;
  cursor: move;
  border-radius: 5px;
  background: #FF2F0A;
}

.draggablePMMA{
  width: 100px;
  padding: 3px 5px;
  display: block;
  margin: 0 auto 3px;
  border: 1px solid #aaa;
  cursor: move;
  border-radius: 5px;
  background: #000FFF;
}

.draggableAgua{
  width: 100px;
  padding: 3px 5px;
  display: block;
  margin: 0 auto 3px;
  border: 1px solid #aaa;
  cursor: move;
  border-radius: 5px;
  background: #0092FF;
}

.draggableAr{
  width: 100px;
  padding: 3px 5px;
  display: block;
  margin: 0 auto 3px;
  border: 1px solid #aaa;
  cursor: move;
  border-radius: 5px;
  background: #FFF9F0;
}

.draggableCycloHexano{
  width: 100px;
  padding: 3px 5px;
  display: block;
  margin: 0 auto 3px;
  border: 1px solid #aaa;
  cursor: move;
  border-radius: 5px;
  background: #28daf1;
}

.draggableCustom{
  width: 100px;
  padding: 3px 5px;
  display: block;
  margin: 0 auto 3px;
  border: 1px solid #aaa;
  cursor: move;
  border-radius: 5px;
  background: #6214b1;
}


.draggable {
	width: 100px;
	padding: 3px 5px;
	display: block;
	margin: 0 auto 3px;
	border: 1px solid #aaa;
	cursor: move;
  border-radius: 5px;
}


.folder-list,.folder-list ul
{
  list-style:none;
  float: left;
}

.folder-list ul{display:none;}

.folder-list input{
  display:none
}

.folder-list label
{
  display:inline-block;
  padding:0.2em 0.5em;
  position:relative;
  cursor:pointer;
  min-width:100px;
  float: left;
}

.folder-list li input[type='radio']+label
{
  padding:0.2em 0em;  
}

.folder-list li input[type='checkbox']+label:before

{
    content: "";
    display: block;
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/15649/folder-closed.png") no-repeat;
    background-size:20px 20px;
    width: 20px;
    height: 20px;
    float: left;
    margin: 0 6px 0 0;  
}

.folder-list li input[type='checkbox']:checked+label:before
{
    content: "";
    display: block;
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/15649/folder-opened.png") no-repeat;
    background-size:20px 20px;
    width: 20px;
    height: 20px;
    float: left;
    margin: 0 6px 0 0;  
}


.folder-list li input[type='checkbox']:checked ~ ul
{
  display:block;
}

.folder-list li input[type=radio]:checked + label{
  background-color:#ddd;
}

.btn {
  cursor: pointer;
  background: #27ae60;
  display: inline-block;
  padding: .5em 1em;
  color: #fff;
  border-radius: 3px;
}

.btn:hover,
.btn:focus {
  background: #2ecc71;
}

.btn:active {
  background: #27ae60;
  box-shadow: 0 1px 2px rgba(0,0,0, .2) inset;
}

.btn--blue {
  background: #2980b9;
}

.btn--blue:hover,
.btn--blue:focus {
  background: #3498db;
}

.btn--blue:active {
  background: #2980b9;
}

.modalBK7 {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  background: rgba(0,0,0, .9);
  transition: opacity .25s ease;
  z-index:999;
}

.modal__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.modal-state {
  display: none;
}

.modal-state:checked + .modalBK7 {
  opacity: 1;
  visibility: visible;
}

.modal-state:checked + .modalBK7 .modal__inner {
  top: 0;
}

.modal-state:checked + .modalBK7 .modal__inner_BK7 {
  top: 0;
}

.modal-state:checked + .modalBK7 .modal__inner_Custom {
  top: 0;
}

.modal__inner_BK7 {
  transition: top 1.25s ease;
  position: absolute;
  top: 0%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 25%;
  margin: auto;
  overflow: hidden;
  background: #fff;
  border-radius: 5px;
  padding: 1em 2em;
  height: 20%;
  overflow-y: auto;
}

.modal__inner_Custom {
  transition: top 1.25s ease;
  position: absolute;
  top: 0%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 25%;
  margin: auto;
  overflow: hidden;
  background: #fff;
  border-radius: 5px;
  padding: 1em 2em;
  height: 30%;
  overflow-y: auto;
}

.modal__inner {
  transition: top 1.25s ease;
  position: absolute;
  top: -20%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 20%;
  margin: auto;
  overflow: hidden;
  background: #fff;
  border-radius: 5px;
  padding: 1em 2em;
  height: 10%;
}

.modal__close {
  position: absolute;
  right: 1em;
  top: 1em;
  width: 52.1em;
  height: 1.1em;
  cursor: pointer;
}

.modal__close:after,
.modal__close:before {
  position: absolute;
  width: 2px;
  height: 1.5em;
  background: #ccc;
  display: block;
  transform: rotate(45deg);
  left: 50%;
  margin: 60px 0 0 -1px;
  top: 0;
}

.modal__close:hover:after,
.modal__close:hover:before {
  background: #aaa;
}

.modal__close:before {
  transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {
  
  .modal__inner {
    width: 90%;
    height: 90%;
    box-sizing: border-box;
  }
}

.ml-6 {
  margin-left: 5.5rem !important;
}

.mt-6 {
    margin-top: 7rem !important;
}

.linha {
    width: 46px;
    margin-left: 80px;
    margin-top: 25px;
    transform: rotate(90deg);
}

.linha35 {
    width: 50px;
    margin-left: 58px;
    margin-top: -6px;
    transform: rotate(35deg);
}

.linha70 {
    width: 40px;
    margin-left: 100px;
    margin-top: -15px;
    transform: rotate(325deg);
}

hr {
    height: 0px;
    background-color: black;
    border-color: transparent;
}


.arrow-3 {
  height: 0px; width: 0px;
  border: 8px solid;
  border-color: 
    black
    black
    transparent
    transparent;
    transform: rotate(5deg);
    margin-left: 128px;
    margin-top: -35px;
}